.aImg{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.App {
  position: absolute;
  text-align: center;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AppBody {
  width: 100%;
  height: 100vh;
  position: relative;
}
